{% if 'interface' in item %}
{% if 'manual' in item %}
{{ item['manual'] }}
{% elif 'ipv4' in item %}
auto {{ item['interface'] }}
{% if 'address' in item['ipv4'] and item['ipv4']['address'] == 'dhcp' %}
iface {{ item['interface'] }} inet dhcp
{% else %}
iface {{ item['interface'] }} inet static
    address item['ipv4']['address']
{% for keyword in ['gateway', 'dns-nameservers', 'netmask', 'broadcast', 'mtu'] %}
{% if keyword in item['ipv4'] %}
    {{ keyword }} {{ item['ipv4'][keyword] }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}